<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <display-name></display-name>
  <servlet>
    <servlet-name>RegServlet</servlet-name>
    <servlet-class>org.aurora.blog.servlet.RegServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddArticleServlet</servlet-name>
    <servlet-class>org.aurora.blog.servlet.AddArticleServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LogServlet</servlet-name>
    <servlet-class>org.aurora.blog.servlet.LogServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>BrowArtServlet</servlet-name>
    <servlet-class>org.aurora.blog.servlet.BrowArtServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>QueryArtServlet</servlet-name>
    <servlet-class>org.aurora.blog.servlet.QueryArtServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddPubServlet</servlet-name>
    <servlet-class>org.aurora.blog.servlet.AddPubServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ShowPubServlet</servlet-name>
    <servlet-class>org.aurora.blog.servlet.ShowPubServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddFriendServlet</servlet-name>
    <servlet-class>org.aurora.blog.servlet.AddFriendServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>QueryFriServlet</servlet-name>
    <servlet-class>org.aurora.blog.servlet.QueryFriServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>QueryUserServlet</servlet-name>
    <servlet-class>org.aurora.blog.servlet.QueryUserServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddComServlet</servlet-name>
    <servlet-class>org.aurora.blog.servlet.AddComServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DelArtServlet</servlet-name>
    <servlet-class>org.aurora.blog.servlet.DelArtServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DelPubServlet</servlet-name>
    <servlet-class>org.aurora.blog.servlet.DelPubServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DelUserServlet</servlet-name>
    <servlet-class>org.aurora.blog.servlet.DelUserServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DelComServlet</servlet-name>
    <servlet-class>org.aurora.blog.servlet.DelComServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DelFriendServlet</servlet-name>
    <servlet-class>org.aurora.blog.servlet.DelFriendServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>BrowsePubServlet</servlet-name>
    <servlet-class>org.aurora.blog.servlet.BrowsePubServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ToUpdateServlet</servlet-name>
    <servlet-class>org.aurora.blog.servlet.ToUpdateServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UpdateServlet</servlet-name>
    <servlet-class>org.aurora.blog.servlet.UpdateServlet</servlet-class>
  </servlet>















  <servlet-mapping>
    <servlet-name>RegServlet</servlet-name>
    <url-pattern>/RegServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddArticleServlet</servlet-name>
    <url-pattern>/AddArticleServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LogServlet</servlet-name>
    <url-pattern>/LogServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BrowArtServlet</servlet-name>
    <url-pattern>/BrowArtServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>QueryArtServlet</servlet-name>
    <url-pattern>/QueryArtServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddPubServlet</servlet-name>
    <url-pattern>/AddPubServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ShowPubServlet</servlet-name>
    <url-pattern>/ShowPubServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddFriendServlet</servlet-name>
    <url-pattern>/AddFriendServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>QueryFriServlet</servlet-name>
    <url-pattern>/QueryFriServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>QueryUserServlet</servlet-name>
    <url-pattern>/QueryUserServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddComServlet</servlet-name>
    <url-pattern>/AddComServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DelArtServlet</servlet-name>
    <url-pattern>/DelArtServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DelPubServlet</servlet-name>
    <url-pattern>/DelPubServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DelUserServlet</servlet-name>
    <url-pattern>/DelUserServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DelComServlet</servlet-name>
    <url-pattern>/DelComServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DelFriendServlet</servlet-name>
    <url-pattern>/DelFriendServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BrowsePubServlet</servlet-name>
    <url-pattern>/BrowsePubServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ToUpdateServlet</servlet-name>
    <url-pattern>/ToUpdateServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateServlet</servlet-name>
    <url-pattern>/UpdateServlet</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>
